This jupyter notebook is the cleaning process of the whr 2025 dataset

In [1]:
# Import libraries
import pandas as pd

In [2]:
# Read in world happiness report data file
whr_df = pd.read_excel('../data_raw/WHR25_Data_Figure_2.1v3.xlsx')

whr_df.head()

,Year,Rank,Country name,Life evaluation (3-year average),Lower whisker,Upper whisker,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,2024,147,Afghanistan,1.364,1.301,1.427,0.649,0.0,0.155,0.0,0.075,0.135,0.348
1,2023,143,Afghanistan,1.721,1.667,1.775,0.628,0.0,0.242,0.0,0.091,0.088,0.672
2,2022,137,Afghanistan,1.859,1.795,1.923,0.645,0.0,0.087,0.0,0.093,0.059,0.976
3,2021,146,Afghanistan,2.404,2.339,2.469,0.758,0.0,0.289,0.0,0.089,0.005,1.263
4,2020,150,Afghanistan,2.523,2.449,2.596,0.370,0.0,0.126,0.0,0.122,0.010,1.895

In [3]:
# Check dataframe info
print(whr_df.columns)
print(whr_df.info())

Index(['Year', 'Rank', 'Country name', 'Life evaluation (3-year average)',
       'Lower whisker', 'Upper whisker', 'Explained by: Log GDP per capita',
       'Explained by: Social support', 'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices',
       'Explained by: Generosity', 'Explained by: Perceptions of corruption',
       'Dystopia + residual'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1969 entries, 0 to 1968
Data columns (total 13 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Year                                        1969 non-null   int64
 1   Rank                                        1969 non-null   int64
 2   Country name                                1969 non-null   object
 3   Life evaluation (3-year average)            1969 non-null   float64
 4   Lower whisker                               875 non-null    float64
 5   Upper whisker                               875 non-null    float64
 6   Explained by: Log GDP per capita            872 non-null    float64
 7   Explained by: Social support                872 non-null    float64
 8   Explained by: Healthy life expectancy       870 non-null    float64
 9   Explained by: Freedom to make life choices  871 non-null    float64
 10  Explained by: Generosity                    872 non-null    float64
 11  Explained by: Perceptions of corruption     871 non-null    float64
 12  Dystopia + residual                         868 non-null    float64
dtypes: float64(10), int64(2), object(1)
memory usage: 200.1+ KB
None

In [4]:
# Standardize column names
whr_df.columns = (
    whr_df.columns
    .str.strip()                 # remove stray spaces
    .str.lower()                 # lowercase for consistency
    .str.replace(' ', '_')       # replace spaces with underscores
    .str.replace(':', '')        # remove colons
    .str.replace('(', '')        # remove parentheses
    .str.replace(')', '')        # remove parentheses
    .str.replace('dystopia_+_residual', 'dystopia_plus_residual')  # fix column name
)

# Check result
whr_df

,year,rank,country_name,life_evaluation_3-year_average,lower_whisker,upper_whisker,explained_by_log_gdp_per_capita,explained_by_social_support,explained_by_healthy_life_expectancy,explained_by_freedom_to_make_life_choices,explained_by_generosity,explained_by_perceptions_of_corruption,dystopia_plus_residual
0,2024,147,Afghanistan,1.364,1.301,1.427,0.649,0.0,0.155,0.0,0.075,0.135,0.348
1,2023,143,Afghanistan,1.721,1.667,1.775,0.628,0.0,0.242,0.0,0.091,0.088,0.672
2,2022,137,Afghanistan,1.859,1.795,1.923,0.645,0.0,0.087,0.0,0.093,0.059,0.976
3,2021,146,Afghanistan,2.404,2.339,2.469,0.758,0.0,0.289,0.0,0.089,0.005,1.263
4,2020,150,Afghanistan,2.523,2.449,2.596,0.370,0.0,0.126,0.0,0.122,0.010,1.895
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1964,2016,138,Zimbabwe,3.875,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1965,2015,131,Zimbabwe,4.193,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1966,2014,115,Zimbabwe,4.610,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1967,2012,103,Zimbabwe,4.827,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1968,2011,142,Zimbabwe,3.978,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Check for dupes
duplicates = whr_df[whr_df.duplicated(subset=['country_name', 'year'], keep=False)]
duplicates

Empty DataFrame
Columns: [year, rank, country_name, life_evaluation_3-year_average, lower_whisker, upper_whisker, explained_by_log_gdp_per_capita, explained_by_social_support, explained_by_healthy_life_expectancy, explained_by_freedom_to_make_life_choices, explained_by_generosity, explained_by_perceptions_of_corruption, dystopia_plus_residual]
Index: []

This part of the Jupyter Notebook is the reading in of wdi country data to compare and clean country names.

In [6]:
# Read in wb wdi country data to compare country_name columns
wb_wdi_country_df = pd.read_csv('..\data\wb_wdi_country_df_final.csv')
wb_wdi_country_df

,id,country_name,year,series_name,value,income_level,region,longitude,latitude,iso2Code
0,AFG,Afghanistan,2011,GDP per capita (current US$),606.69,Low income,"Middle East, North Africa, Afghanistan & Pakistan",69.1761,34.5228,AF
1,AFG,Afghanistan,2011,Current health expenditure per capita (current...,52.19,Low income,"Middle East, North Africa, Afghanistan & Pakistan",69.1761,34.5228,AF
2,AFG,Afghanistan,2011,Current health expenditure (% of GDP),8.56,Low income,"Middle East, North Africa, Afghanistan & Pakistan",69.1761,34.5228,AF
3,AFG,Afghanistan,2011,"Government expenditure on education, total (% ...",3.46,Low income,"Middle East, North Africa, Afghanistan & Pakistan",69.1761,34.5228,AF
4,AFG,Afghanistan,2011,"Literacy rate, adult total (% of people ages 1...",31.45,Low income,"Middle East, North Africa, Afghanistan & Pakistan",69.1761,34.5228,AF
...,...,...,...,...,...,...,...,...,...,...
24299,ZWE,Zimbabwe,2024,"Government expenditure on education, total (% ...",NaN,Lower middle income,Sub-Saharan Africa,31.0672,-17.8312,ZW
24300,ZWE,Zimbabwe,2024,"Literacy rate, adult total (% of people ages 1...",NaN,Lower middle income,Sub-Saharan Africa,31.0672,-17.8312,ZW
24301,ZWE,Zimbabwe,2024,"School enrollment, primary (% gross)",93.08,Lower middle income,Sub-Saharan Africa,31.0672,-17.8312,ZW
24302,ZWE,Zimbabwe,2024,"School enrollment, secondary (% gross)",NaN,Lower middle income,Sub-Saharan Africa,31.0672,-17.8312,ZW
24303,ZWE,Zimbabwe,2024,"School enrollment, tertiary (% gross)",7.75,Lower middle income,Sub-Saharan Africa,31.0672,-17.8312,ZW

In [7]:
# Check differences in country name column between dataframes
set(whr_df['country_name']) - set(wb_wdi_country_df['country_name'])

{'Congo',
 'CÃ´te dâ€™Ivoire',
 'DR Congo',
 'Egypt',
 'Gambia',
 'Hong Kong SAR of China',
 'Iran',
 'Kyrgyzstan',
 'North Cyprus',
 'Puerto Rico',
 'Republic of Korea',
 'Republic of Moldova',
 'Slovakia',
 'Somalia',
 'Somaliland Region',
 'State of Palestine',
 'Swaziland',
 'Syria',
 'Taiwan Province of China',
 'TÃ¼rkiye',
 'Venezuela',
 'Yemen'}

In [8]:
# Build a rename dictionary for whr to match wdi
rename_dict = {
    'Congo': 'Congo, Rep.',
    'DR Congo': 'Congo, Dem. Rep.',
    'CÃ´te dâ€™Ivoire': "Cote d'Ivoire",
    'Egypt': 'Egypt, Arab Rep.',
    'Gambia': 'Gambia, The',
    'Hong Kong SAR of China': 'Hong Kong SAR, China',
    'Iran': 'Iran, Islamic Rep.',
    'Kyrgyzstan': 'Kyrgyz Republic',
    'Republic of Korea': 'Korea, Rep.',
    'Republic of Moldova': 'Moldova',
    'Slovakia': 'Slovak Republic',
    'Somalia': 'Somalia, Fed. Rep.',
    'Swaziland': 'Eswatini',
    'Syria': 'Syrian Arab Republic',
    'Turkey': 'Turkiye',
    'TÃ¼rkiye': 'Turkiye',
    'Venezuela': 'Venezuela, RB',
    'Yemen': 'Yemen, Rep.',
    'State of Palestine': 'West Bank and Gaza'
}

# Apply dictionary
whr_df['country_name'] = whr_df['country_name'].replace(rename_dict)

In [9]:
# Rerun this to check differences left after rename dictionary
set(whr_df['country_name']) - set(wb_wdi_country_df['country_name'])

{'North Cyprus',
 'Puerto Rico',
 'Somaliland Region',
 'Taiwan Province of China'}

In [10]:
# Inspect data for Somaliland Region and Somalia, Fed. Rep. differences
whr_df[whr_df['country_name'].str.contains('Somali', case=False)]

,year,rank,country_name,life_evaluation_3-year_average,lower_whisker,upper_whisker,explained_by_log_gdp_per_capita,explained_by_social_support,explained_by_healthy_life_expectancy,explained_by_freedom_to_make_life_choices,explained_by_generosity,explained_by_perceptions_of_corruption,dystopia_plus_residual
1591,2024,122,"Somalia, Fed. Rep.",4.347,4.203,4.49,0.535,0.877,0.046,0.916,0.206,0.192,1.575
1592,2018,112,"Somalia, Fed. Rep.",4.668,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1593,2017,98,"Somalia, Fed. Rep.",4.982,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1594,2016,93,"Somalia, Fed. Rep.",5.151,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1595,2015,76,"Somalia, Fed. Rep.",5.440,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1596,2015,97,Somaliland Region,5.057,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1597,2014,91,Somaliland Region,5.057,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1598,2012,101,Somaliland Region,4.847,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1599,2011,111,Somaliland Region,4.691,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# Inspect data to look for any other year/rank discrepancies
(
    whr_df.duplicated(subset=['year', 'rank'], keep=False)
    .groupby(whr_df['year'])
    .sum()
)

year
2011    0
2012    0
2014    0
2015    0
2016    0
2017    0
2018    2
2019    0
2020    0
2021    0
2022    0
2023    0
2024    0
dtype: int64

In [12]:
# Find all rows where year/rank combo appears more than once
dup_ranks = whr_df[whr_df.duplicated(subset=['year', 'rank'], keep=False)]

# Check rows with duplicate year/rank
dup_ranks = dup_ranks.sort_values(['year', 'rank']).reset_index(drop=True)
dup_ranks[['year', 'rank', 'country_name']].head(10)

   year  rank country_name
0  2018   120  Gambia, The
1  2018   120    Sri Lanka

In [13]:
# Pick final preferred names (mix of WHR/WDI)
# Chose to combine Somalia, Fed. Rep. and Somaliland Region for data consistency (both as Somalia).
final_names = {
    'Congo, Rep.': 'Congo',
    'Congo, Dem. Rep.': 'DR Congo',
    'Egypt, Arab Rep.': 'Egypt',
    'Gambia, The': 'Gambia',
    'Hong Kong SAR, China': 'Hong Kong SAR of China',
    'Iran, Islamic Rep.': 'Iran',
    'Kyrgyz Republic': 'Kyrgyzstan',
    'Korea, Rep.': 'Republic of Korea',
    'Slovak Republic': 'Slovakia',
    'Somalia, Fed. Rep.': 'Somalia',
    'Somaliland Region': 'Somalia',
    'Syrian Arab Republic': 'Syria',
    'Turkey': 'Turkiye',
    'TÃ¼rkiye': 'Turkiye',
    'Venezuela, RB': 'Venezuela',
    'Yemen, Rep.': 'Yemen'
}

whr_df['country_name_final'] = whr_df['country_name'].replace(final_names)

# Check result
whr_df.head()

,year,rank,country_name,life_evaluation_3-year_average,lower_whisker,upper_whisker,explained_by_log_gdp_per_capita,explained_by_social_support,explained_by_healthy_life_expectancy,explained_by_freedom_to_make_life_choices,explained_by_generosity,explained_by_perceptions_of_corruption,dystopia_plus_residual,country_name_final
0,2024,147,Afghanistan,1.364,1.301,1.427,0.649,0.0,0.155,0.0,0.075,0.135,0.348,Afghanistan
1,2023,143,Afghanistan,1.721,1.667,1.775,0.628,0.0,0.242,0.0,0.091,0.088,0.672,Afghanistan
2,2022,137,Afghanistan,1.859,1.795,1.923,0.645,0.0,0.087,0.0,0.093,0.059,0.976,Afghanistan
3,2021,146,Afghanistan,2.404,2.339,2.469,0.758,0.0,0.289,0.0,0.089,0.005,1.263,Afghanistan
4,2020,150,Afghanistan,2.523,2.449,2.596,0.370,0.0,0.126,0.0,0.122,0.010,1.895,Afghanistan

In [14]:
# See original vs final country name
whr_df[['country_name', 'country_name_final']]
whr_df

,year,rank,country_name,life_evaluation_3-year_average,lower_whisker,upper_whisker,explained_by_log_gdp_per_capita,explained_by_social_support,explained_by_healthy_life_expectancy,explained_by_freedom_to_make_life_choices,explained_by_generosity,explained_by_perceptions_of_corruption,dystopia_plus_residual,country_name_final
0,2024,147,Afghanistan,1.364,1.301,1.427,0.649,0.0,0.155,0.0,0.075,0.135,0.348,Afghanistan
1,2023,143,Afghanistan,1.721,1.667,1.775,0.628,0.0,0.242,0.0,0.091,0.088,0.672,Afghanistan
2,2022,137,Afghanistan,1.859,1.795,1.923,0.645,0.0,0.087,0.0,0.093,0.059,0.976,Afghanistan
3,2021,146,Afghanistan,2.404,2.339,2.469,0.758,0.0,0.289,0.0,0.089,0.005,1.263,Afghanistan
4,2020,150,Afghanistan,2.523,2.449,2.596,0.370,0.0,0.126,0.0,0.122,0.010,1.895,Afghanistan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1964,2016,138,Zimbabwe,3.875,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zimbabwe
1965,2015,131,Zimbabwe,4.193,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zimbabwe
1966,2014,115,Zimbabwe,4.610,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zimbabwe
1967,2012,103,Zimbabwe,4.827,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zimbabwe
1968,2011,142,Zimbabwe,3.978,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zimbabwe

In [15]:
# Strip country_name_final to remove whitespace before merge with wdi data (precautionary)
whr_df['country_name_final'] = whr_df['country_name_final'].str.strip()

# Keep a copy of the original rank for reference
whr_df['original_rank'] = whr_df['rank']

# Check result
whr_df

,year,rank,country_name,life_evaluation_3-year_average,lower_whisker,upper_whisker,explained_by_log_gdp_per_capita,explained_by_social_support,explained_by_healthy_life_expectancy,explained_by_freedom_to_make_life_choices,explained_by_generosity,explained_by_perceptions_of_corruption,dystopia_plus_residual,country_name_final,original_rank
0,2024,147,Afghanistan,1.364,1.301,1.427,0.649,0.0,0.155,0.0,0.075,0.135,0.348,Afghanistan,147
1,2023,143,Afghanistan,1.721,1.667,1.775,0.628,0.0,0.242,0.0,0.091,0.088,0.672,Afghanistan,143
2,2022,137,Afghanistan,1.859,1.795,1.923,0.645,0.0,0.087,0.0,0.093,0.059,0.976,Afghanistan,137
3,2021,146,Afghanistan,2.404,2.339,2.469,0.758,0.0,0.289,0.0,0.089,0.005,1.263,Afghanistan,146
4,2020,150,Afghanistan,2.523,2.449,2.596,0.370,0.0,0.126,0.0,0.122,0.010,1.895,Afghanistan,150
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1964,2016,138,Zimbabwe,3.875,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zimbabwe,138
1965,2015,131,Zimbabwe,4.193,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zimbabwe,131
1966,2014,115,Zimbabwe,4.610,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zimbabwe,115
1967,2012,103,Zimbabwe,4.827,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zimbabwe,103
1968,2011,142,Zimbabwe,3.978,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zimbabwe,142

In [16]:
# Save whr data with renamed countries as csv (before Somalia 2015 merge and country reranking)
whr_df.to_csv(r'..\data_clean\whr_df_country_rename.csv', index=False)
print('whr_df_country_rename.csv has been saved')

whr_df_country_rename.csv has been saved

In [17]:
# Drop rank before aggregation
whr_df_rnk_col = whr_df.drop(columns=['rank'], errors='ignore')

# Check result
whr_df_rnk_col

,year,country_name,life_evaluation_3-year_average,lower_whisker,upper_whisker,explained_by_log_gdp_per_capita,explained_by_social_support,explained_by_healthy_life_expectancy,explained_by_freedom_to_make_life_choices,explained_by_generosity,explained_by_perceptions_of_corruption,dystopia_plus_residual,country_name_final,original_rank
0,2024,Afghanistan,1.364,1.301,1.427,0.649,0.0,0.155,0.0,0.075,0.135,0.348,Afghanistan,147
1,2023,Afghanistan,1.721,1.667,1.775,0.628,0.0,0.242,0.0,0.091,0.088,0.672,Afghanistan,143
2,2022,Afghanistan,1.859,1.795,1.923,0.645,0.0,0.087,0.0,0.093,0.059,0.976,Afghanistan,137
3,2021,Afghanistan,2.404,2.339,2.469,0.758,0.0,0.289,0.0,0.089,0.005,1.263,Afghanistan,146
4,2020,Afghanistan,2.523,2.449,2.596,0.370,0.0,0.126,0.0,0.122,0.010,1.895,Afghanistan,150
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1964,2016,Zimbabwe,3.875,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zimbabwe,138
1965,2015,Zimbabwe,4.193,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zimbabwe,131
1966,2014,Zimbabwe,4.610,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zimbabwe,115
1967,2012,Zimbabwe,4.827,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zimbabwe,103
1968,2011,Zimbabwe,3.978,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zimbabwe,142

In [18]:
# Group by year and country_name_final - averaging numeric columns
whr_df_final = (
    whr_df_rnk_col
    .groupby(['year', 'country_name_final'], as_index=False)
    .mean(numeric_only=True)
)

# Check result
whr_df_final

,year,country_name_final,life_evaluation_3-year_average,lower_whisker,upper_whisker,explained_by_log_gdp_per_capita,explained_by_social_support,explained_by_healthy_life_expectancy,explained_by_freedom_to_make_life_choices,explained_by_generosity,explained_by_perceptions_of_corruption,dystopia_plus_residual,original_rank
0,2011,Afghanistan,4.258,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,131.0
1,2011,Albania,5.134,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,88.0
2,2011,Algeria,5.368,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71.0
3,2011,Angola,4.178,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,135.0
4,2011,Argentina,6.242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1963,2024,Viet Nam,6.352,6.280,6.424,1.278,1.533,0.631,1.012,0.039,0.174,1.684,46.0
1964,2024,West Bank and Gaza,4.780,4.675,4.886,1.047,1.456,NaN,0.618,0.055,0.081,NaN,108.0
1965,2024,Yemen,3.561,3.408,3.714,0.631,1.482,0.375,0.447,0.066,0.106,0.454,140.0
1966,2024,Zambia,3.912,3.769,4.056,0.848,1.013,0.233,0.872,0.131,0.107,0.709,131.0
1967,2024,Zimbabwe,3.396,3.283,3.509,0.827,0.961,0.178,0.598,0.065,0.131,0.636,143.0

In [19]:
# Recalculate rank based on life evaluation
whr_df_final['rank'] = whr_df_final.groupby('year')['life_evaluation_3-year_average'] \
    .rank(ascending=False, method='min')

# Convert rank columns back to int
whr_df_final['rank'] = whr_df_final['rank'].astype('int')
whr_df_final['original_rank'] = whr_df_final['original_rank'].astype('int')

# Check result
whr_df_final

,year,country_name_final,life_evaluation_3-year_average,lower_whisker,upper_whisker,explained_by_log_gdp_per_capita,explained_by_social_support,explained_by_healthy_life_expectancy,explained_by_freedom_to_make_life_choices,explained_by_generosity,explained_by_perceptions_of_corruption,dystopia_plus_residual,original_rank,rank
0,2011,Afghanistan,4.258,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,131,131
1,2011,Albania,5.134,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,88,88
2,2011,Algeria,5.368,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71,71
3,2011,Angola,4.178,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,135,135
4,2011,Argentina,6.242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39,39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1963,2024,Viet Nam,6.352,6.280,6.424,1.278,1.533,0.631,1.012,0.039,0.174,1.684,46,46
1964,2024,West Bank and Gaza,4.780,4.675,4.886,1.047,1.456,NaN,0.618,0.055,0.081,NaN,108,108
1965,2024,Yemen,3.561,3.408,3.714,0.631,1.482,0.375,0.447,0.066,0.106,0.454,140,140
1966,2024,Zambia,3.912,3.769,4.056,0.848,1.013,0.233,0.872,0.131,0.107,0.709,131,131
1967,2024,Zimbabwe,3.396,3.283,3.509,0.827,0.961,0.178,0.598,0.065,0.131,0.636,143,143

In [20]:
# Sort by country, then by year
whr_df_final = whr_df_final.sort_values(by=['country_name_final', 'year']).reset_index(drop=True)

# Preview
print(whr_df_final[['country_name_final', 'year', 'life_evaluation_3-year_average', 'rank']].head(15))

   country_name_final  year  life_evaluation_3-year_average  rank
0         Afghanistan  2011                          4.2580   131
1         Afghanistan  2012                          4.0400   143
2         Afghanistan  2014                          3.5750   153
3         Afghanistan  2015                          3.3600   153
4         Afghanistan  2016                          3.7940   141
5         Afghanistan  2017                          3.6320   145
6         Afghanistan  2018                          3.2030   154
7         Afghanistan  2019                          2.5669   153
8         Afghanistan  2020                          2.5230   149
9         Afghanistan  2021                          2.4040   146
10        Afghanistan  2022                          1.8590   137
11        Afghanistan  2023                          1.7210   143
12        Afghanistan  2024                          1.3640   147
13            Albania  2011                          5.1340    88
14            Albania  2012                          5.5500    62

In [21]:
# Check for duplicates in year + country_name_final
dupes = whr_df_final[whr_df_final.duplicated(subset=['year', 'country_name_final'], keep=False)]

if duplicates.empty:
    print("âœ… All country-year combinations are unique.")
else:
    print("âš ï¸ Duplicates found:")
    print(dupes)

# Check for 2015 Somalia merged correctly
whr_df_final[whr_df_final['country_name_final'] == 'Somalia']

âœ… All country-year combinations are unique.

,year,country_name_final,life_evaluation_3-year_average,lower_whisker,upper_whisker,explained_by_log_gdp_per_capita,explained_by_social_support,explained_by_healthy_life_expectancy,explained_by_freedom_to_make_life_choices,explained_by_generosity,explained_by_perceptions_of_corruption,dystopia_plus_residual,original_rank,rank
1596,2011,Somalia,4.6910,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,111,111
1597,2012,Somalia,4.8470,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,101,101
1598,2014,Somalia,5.0570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,91,91
1599,2015,Somalia,5.2485,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86,82
1600,2016,Somalia,5.1510,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,93,93
1601,2017,Somalia,4.9820,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98,98
1602,2018,Somalia,4.6680,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,112,112
1603,2024,Somalia,4.3470,4.203,4.49,0.535,0.877,0.046,0.916,0.206,0.192,1.575,122,122

In [22]:
# Rename country_name_final to country_name
whr_df_final = whr_df_final.rename(columns={'country_name_final': 'country_name'})

# Verify
whr_df_final.columns

Index(['year', 'country_name', 'life_evaluation_3-year_average',
       'lower_whisker', 'upper_whisker', 'explained_by_log_gdp_per_capita',
       'explained_by_social_support', 'explained_by_healthy_life_expectancy',
       'explained_by_freedom_to_make_life_choices', 'explained_by_generosity',
       'explained_by_perceptions_of_corruption', 'dystopia_plus_residual',
       'original_rank', 'rank'],
      dtype='object')

In [23]:
# Reorder and drop columns for final whr dataframe
final_columns = ['year', 'country_name', 'rank', 'life_evaluation_3-year_average', 'explained_by_log_gdp_per_capita', 'explained_by_healthy_life_expectancy', 'explained_by_perceptions_of_corruption']

# Keep only these columns and reorder
whr_df_final = whr_df_final[final_columns]

# Preview the cleaned, ordered dataframe
whr_df_final

,year,country_name,rank,life_evaluation_3-year_average,explained_by_log_gdp_per_capita,explained_by_healthy_life_expectancy,explained_by_perceptions_of_corruption
0,2011,Afghanistan,131,4.258,NaN,NaN,NaN
1,2012,Afghanistan,143,4.040,NaN,NaN,NaN
2,2014,Afghanistan,153,3.575,NaN,NaN,NaN
3,2015,Afghanistan,153,3.360,NaN,NaN,NaN
4,2016,Afghanistan,141,3.794,NaN,NaN,NaN
...,...,...,...,...,...,...,...
1963,2020,Zimbabwe,148,3.145,0.457,0.243,0.075
1964,2021,Zimbabwe,144,2.995,0.947,0.270,0.105
1965,2022,Zimbabwe,134,3.204,0.758,0.069,0.117
1966,2023,Zimbabwe,138,3.341,0.748,0.232,0.131
1967,2024,Zimbabwe,143,3.396,0.827,0.178,0.131

In [24]:
# Round all float columns to 3 decimals
whr_df_final = whr_df_final.round(3)
whr_df_final

,year,country_name,rank,life_evaluation_3-year_average,explained_by_log_gdp_per_capita,explained_by_healthy_life_expectancy,explained_by_perceptions_of_corruption
0,2011,Afghanistan,131,4.258,NaN,NaN,NaN
1,2012,Afghanistan,143,4.040,NaN,NaN,NaN
2,2014,Afghanistan,153,3.575,NaN,NaN,NaN
3,2015,Afghanistan,153,3.360,NaN,NaN,NaN
4,2016,Afghanistan,141,3.794,NaN,NaN,NaN
...,...,...,...,...,...,...,...
1963,2020,Zimbabwe,148,3.145,0.457,0.243,0.075
1964,2021,Zimbabwe,144,2.995,0.947,0.270,0.105
1965,2022,Zimbabwe,134,3.204,0.758,0.069,0.117
1966,2023,Zimbabwe,138,3.341,0.748,0.232,0.131
1967,2024,Zimbabwe,143,3.396,0.827,0.178,0.131

In [25]:
# Save final whr data as csv before merge with wdi data
whr_df_final.to_csv(r'..\data\whr_df_final.csv', index=False)
print('whr_df_final.csv has been saved')

whr_df_final.csv has been saved