This jupyter notebook is the api call and cleaning process for the world bank country metadata

In [1]:
# Import libraries
import pandas as pd
import requests

In [2]:
# Set API endpoint for countries
endpoint = f'https://api.worldbank.org/v2/country/?'

# Set params
params ={
    'format' : 'json',
    'per_page' : 300
}

# Request to API using GET
response = requests.get(endpoint, params=params)

# Check response
print(response)

<Response [200]>

In [3]:
# Save json response in variable
countrydata = response.json()

# Look at what countrydata variable contains
print('API response (countrydata)')
print(type(countrydata))   # <class 'list'>
print(len(countrydata))    # 2 (metadata + actual data)
print(countrydata[0])      # metadata: page info, total rows
print(countrydata[1][:2])  # first 2 row of actual data

API response (countrydata)
<class 'list'>
2
{'page': 1, 'pages': 1, 'per_page': '300', 'total': 296}
[{'id': 'ABW', 'iso2Code': 'AW', 'name': 'Aruba', 'region': {'id': 'LCN', 'iso2code': 'ZJ', 'value': 'Latin America & Caribbean '}, 'adminregion': {'id': '', 'iso2code': '', 'value': ''}, 'incomeLevel': {'id': 'HIC', 'iso2code': 'XD', 'value': 'High income'}, 'lendingType': {'id': 'LNX', 'iso2code': 'XX', 'value': 'Not classified'}, 'capitalCity': 'Oranjestad', 'longitude': '-70.0167', 'latitude': '12.5167'}, {'id': 'AFE', 'iso2Code': 'ZH', 'name': 'Africa Eastern and Southern', 'region': {'id': 'NA', 'iso2code': 'NA', 'value': 'Aggregates'}, 'adminregion': {'id': '', 'iso2code': '', 'value': ''}, 'incomeLevel': {'id': 'NA', 'iso2code': 'NA', 'value': 'Aggregates'}, 'lendingType': {'id': '', 'iso2code': '', 'value': 'Aggregates'}, 'capitalCity': '', 'longitude': '', 'latitude': ''}]

In [4]:
# Collect the country data
all_country_data = countrydata[1]

# Confirm country data
print('Country data fetched successfully!')
print(f'Total country records = {countrydata[0]["total"]}')
print(f'Records collected = {len(all_country_data)}')

Country data fetched successfully!
Total country records = 296
Records collected = 296

In [5]:
# Create DataFrame and include all country data
all_country_data_df = pd.DataFrame(all_country_data)

print('Empty DataFrame created and all data added')
print('Shape:', all_country_data_df.shape)
print(all_country_data_df.info())
all_country_data_df.head()

Empty DataFrame created and all data added
Shape: (296, 10)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 296 entries, 0 to 295
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           296 non-null    object
 1   iso2Code     296 non-null    object
 2   name         296 non-null    object
 3   region       296 non-null    object
 4   adminregion  296 non-null    object
 5   incomeLevel  296 non-null    object
 6   lendingType  296 non-null    object
 7   capitalCity  296 non-null    object
 8   longitude    296 non-null    object
 9   latitude     296 non-null    object
dtypes: object(10)
memory usage: 23.3+ KB
None

,id,iso2Code,name,region,adminregion,incomeLevel,lendingType,capitalCity,longitude,latitude
0,ABW,AW,Aruba,"{'id': 'LCN', 'iso2code': 'ZJ', 'value': 'Lati...","{'id': '', 'iso2code': '', 'value': ''}","{'id': 'HIC', 'iso2code': 'XD', 'value': 'High...","{'id': 'LNX', 'iso2code': 'XX', 'value': 'Not ...",Oranjestad,-70.0167,12.5167
1,AFE,ZH,Africa Eastern and Southern,"{'id': 'NA', 'iso2code': 'NA', 'value': 'Aggre...","{'id': '', 'iso2code': '', 'value': ''}","{'id': 'NA', 'iso2code': 'NA', 'value': 'Aggre...","{'id': '', 'iso2code': '', 'value': 'Aggregates'}",,,
2,AFG,AF,Afghanistan,"{'id': 'MEA', 'iso2code': 'ZQ', 'value': 'Midd...","{'id': 'MNA', 'iso2code': 'XQ', 'value': 'Midd...","{'id': 'LIC', 'iso2code': 'XM', 'value': 'Low ...","{'id': 'IDX', 'iso2code': 'XI', 'value': 'IDA'}",Kabul,69.1761,34.5228
3,AFR,A9,Africa,"{'id': 'NA', 'iso2code': 'NA', 'value': 'Aggre...","{'id': '', 'iso2code': '', 'value': ''}","{'id': 'NA', 'iso2code': 'NA', 'value': 'Aggre...","{'id': '', 'iso2code': '', 'value': 'Aggregates'}",,,
4,AFW,ZI,Africa Western and Central,"{'id': 'NA', 'iso2code': 'NA', 'value': 'Aggre...","{'id': '', 'iso2code': '', 'value': ''}","{'id': 'NA', 'iso2code': 'NA', 'value': 'Aggre...","{'id': '', 'iso2code': '', 'value': 'Aggregates'}",,,

In [ ]:
# Normalize nested dictionaries # Only run once!!! # Commented out after I ran cell
#all_country_data_nrml = pd.json_normalize(all_country_data)

# Check DataFrame
print('DataFrame after normalization')
all_country_data_nrml

DataFrame after normalization

,id,iso2Code,name,capitalCity,longitude,latitude,region.id,region.iso2code,region.value,adminregion.id,adminregion.iso2code,adminregion.value,incomeLevel.id,incomeLevel.iso2code,incomeLevel.value,lendingType.id,lendingType.iso2code,lendingType.value
0,ABW,AW,Aruba,Oranjestad,-70.0167,12.5167,LCN,ZJ,Latin America & Caribbean,,,,HIC,XD,High income,LNX,XX,Not classified
1,AFE,ZH,Africa Eastern and Southern,,,,NA,NA,Aggregates,,,,NA,NA,Aggregates,,,Aggregates
2,AFG,AF,Afghanistan,Kabul,69.1761,34.5228,MEA,ZQ,"Middle East, North Africa, Afghanistan & Pakistan",MNA,XQ,"Middle East, North Africa, Afghanistan & Pakis...",LIC,XM,Low income,IDX,XI,IDA
3,AFR,A9,Africa,,,,NA,NA,Aggregates,,,,NA,NA,Aggregates,,,Aggregates
4,AFW,ZI,Africa Western and Central,,,,NA,NA,Aggregates,,,,NA,NA,Aggregates,,,Aggregates
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291,XZN,A5,Sub-Saharan Africa excluding South Africa and ...,,,,NA,NA,Aggregates,,,,NA,NA,Aggregates,,,Aggregates
292,YEM,YE,"Yemen, Rep.",Sana'a,44.2075,15.352,MEA,ZQ,"Middle East, North Africa, Afghanistan & Pakistan",MNA,XQ,"Middle East, North Africa, Afghanistan & Pakis...",LIC,XM,Low income,IDX,XI,IDA
293,ZAF,ZA,South Africa,Pretoria,28.1871,-25.746,SSF,ZG,Sub-Saharan Africa,SSA,ZF,Sub-Saharan Africa (excluding high income),UMC,XT,Upper middle income,IBD,XF,IBRD
294,ZMB,ZM,Zambia,Lusaka,28.2937,-15.3982,SSF,ZG,Sub-Saharan Africa,SSA,ZF,Sub-Saharan Africa (excluding high income),LMC,XN,Lower middle income,IDX,XI,IDA
295,ZWE,ZW,Zimbabwe,Harare,31.0672,-17.8312,SSF,ZG,Sub-Saharan Africa,SSA,ZF,Sub-Saharan Africa (excluding high income),LMC,XN,Lower middle income,IDB,XH,Blend

In [7]:
# Keep useful columns from all_country_data_nrml
country_data_col = all_country_data_nrml[['id', 'name', 'capitalCity', 'region.value', 'incomeLevel.value', 'longitude', 'latitude', 'iso2Code']]
country_data_col

,id,name,capitalCity,region.value,incomeLevel.value,longitude,latitude,iso2Code
0,ABW,Aruba,Oranjestad,Latin America & Caribbean,High income,-70.0167,12.5167,AW
1,AFE,Africa Eastern and Southern,,Aggregates,Aggregates,,,ZH
2,AFG,Afghanistan,Kabul,"Middle East, North Africa, Afghanistan & Pakistan",Low income,69.1761,34.5228,AF
3,AFR,Africa,,Aggregates,Aggregates,,,A9
4,AFW,Africa Western and Central,,Aggregates,Aggregates,,,ZI
...,...,...,...,...,...,...,...,...
291,XZN,Sub-Saharan Africa excluding South Africa and ...,,Aggregates,Aggregates,,,A5
292,YEM,"Yemen, Rep.",Sana'a,"Middle East, North Africa, Afghanistan & Pakistan",Low income,44.2075,15.352,YE
293,ZAF,South Africa,Pretoria,Sub-Saharan Africa,Upper middle income,28.1871,-25.746,ZA
294,ZMB,Zambia,Lusaka,Sub-Saharan Africa,Lower middle income,28.2937,-15.3982,ZM
295,ZWE,Zimbabwe,Harare,Sub-Saharan Africa,Lower middle income,31.0672,-17.8312,ZW

In [8]:
# Keep only rows where region.value is not 'Aggregates'
country_data_filtered = country_data_col[country_data_col['region.value'] != 'Aggregates']

# Reset the index
country_data_filtered = country_data_filtered.reset_index(drop=True)

# Check result
country_data_filtered.head()

,id,name,capitalCity,region.value,incomeLevel.value,longitude,latitude,iso2Code
0,ABW,Aruba,Oranjestad,Latin America & Caribbean,High income,-70.0167,12.5167,AW
1,AFG,Afghanistan,Kabul,"Middle East, North Africa, Afghanistan & Pakistan",Low income,69.1761,34.5228,AF
2,AGO,Angola,Luanda,Sub-Saharan Africa,Lower middle income,13.242,-8.81155,AO
3,ALB,Albania,Tirane,Europe & Central Asia,Upper middle income,19.8172,41.3317,AL
4,AND,Andorra,Andorra la Vella,Europe & Central Asia,High income,1.5218,42.5075,AD

In [9]:
# Check unique 'region.value' values
country_data_filtered['region.value'].unique()

array(['Latin America & Caribbean ',
       'Middle East, North Africa, Afghanistan & Pakistan',
       'Sub-Saharan Africa ', 'Europe & Central Asia',
       'East Asia & Pacific', 'South Asia', 'North America'], dtype=object)

In [10]:
# Check for duplicates based on the country identifier column
duplicates = country_data_filtered[country_data_filtered.duplicated(subset=['name'], keep=False)]
print(duplicates)

Empty DataFrame
Columns: [id, name, capitalCity, region.value, incomeLevel.value, longitude, latitude, iso2Code]
Index: []

In [11]:
# Trim whitespace from 'id' and 'name'
country_data_filtered['id'] = country_data_filtered['id'].str.strip()
country_data_filtered['name'] = country_data_filtered['name'].str.strip()
country_data_filtered

,id,name,capitalCity,region.value,incomeLevel.value,longitude,latitude,iso2Code
0,ABW,Aruba,Oranjestad,Latin America & Caribbean,High income,-70.0167,12.5167,AW
1,AFG,Afghanistan,Kabul,"Middle East, North Africa, Afghanistan & Pakistan",Low income,69.1761,34.5228,AF
2,AGO,Angola,Luanda,Sub-Saharan Africa,Lower middle income,13.242,-8.81155,AO
3,ALB,Albania,Tirane,Europe & Central Asia,Upper middle income,19.8172,41.3317,AL
4,AND,Andorra,Andorra la Vella,Europe & Central Asia,High income,1.5218,42.5075,AD
...,...,...,...,...,...,...,...,...
212,XKX,Kosovo,Pristina,Europe & Central Asia,Upper middle income,20.926,42.565,XK
213,YEM,"Yemen, Rep.",Sana'a,"Middle East, North Africa, Afghanistan & Pakistan",Low income,44.2075,15.352,YE
214,ZAF,South Africa,Pretoria,Sub-Saharan Africa,Upper middle income,28.1871,-25.746,ZA
215,ZMB,Zambia,Lusaka,Sub-Saharan Africa,Lower middle income,28.2937,-15.3982,ZM
216,ZWE,Zimbabwe,Harare,Sub-Saharan Africa,Lower middle income,31.0672,-17.8312,ZW

In [12]:
# Check if any columns have missing values
print(country_data_filtered.isna().sum())

id                   0
name                 0
capitalCity          0
region.value         0
incomeLevel.value    0
longitude            0
latitude             0
iso2Code             0
dtype: int64

In [13]:
# Standardize column names
country_data_filtered.rename(columns={
    'name': 'country_name',
    'capitalCity': 'capital_city',
    'region.value': 'region',
    'incomeLevel.value': 'income_level',
}, inplace=True)

# Check result
country_data_filtered

,id,country_name,capital_city,region,income_level,longitude,latitude,iso2Code
0,ABW,Aruba,Oranjestad,Latin America & Caribbean,High income,-70.0167,12.5167,AW
1,AFG,Afghanistan,Kabul,"Middle East, North Africa, Afghanistan & Pakistan",Low income,69.1761,34.5228,AF
2,AGO,Angola,Luanda,Sub-Saharan Africa,Lower middle income,13.242,-8.81155,AO
3,ALB,Albania,Tirane,Europe & Central Asia,Upper middle income,19.8172,41.3317,AL
4,AND,Andorra,Andorra la Vella,Europe & Central Asia,High income,1.5218,42.5075,AD
...,...,...,...,...,...,...,...,...
212,XKX,Kosovo,Pristina,Europe & Central Asia,Upper middle income,20.926,42.565,XK
213,YEM,"Yemen, Rep.",Sana'a,"Middle East, North Africa, Afghanistan & Pakistan",Low income,44.2075,15.352,YE
214,ZAF,South Africa,Pretoria,Sub-Saharan Africa,Upper middle income,28.1871,-25.746,ZA
215,ZMB,Zambia,Lusaka,Sub-Saharan Africa,Lower middle income,28.2937,-15.3982,ZM
216,ZWE,Zimbabwe,Harare,Sub-Saharan Africa,Lower middle income,31.0672,-17.8312,ZW

In [14]:
# Convert latitude and longitude to numeric
country_data_filtered['latitude'] = pd.to_numeric(country_data_filtered['latitude'], errors='coerce')
country_data_filtered['longitude'] = pd.to_numeric(country_data_filtered['longitude'], errors='coerce')

# Check for missing or invalid values
print(country_data_filtered.info())
print(country_data_filtered[country_data_filtered['latitude'].isna() | country_data_filtered['longitude'].isna()])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 217 entries, 0 to 216
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            217 non-null    object
 1   country_name  217 non-null    object
 2   capital_city  217 non-null    object
 3   region        217 non-null    object
 4   income_level  217 non-null    object
 5   longitude     211 non-null    float64
 6   latitude      211 non-null    float64
 7   iso2Code      217 non-null    object
dtypes: float64(2), object(6)
memory usage: 13.7+ KB
None
      id               country_name capital_city  \
34   CHI            Channel Islands
46   CUW                    Curacao   Willemstad
71   GIB                  Gibraltar
119  MAF   St. Martin (French part)      Marigot
161  PSE         West Bank and Gaza
184  SXM  Sint Maarten (Dutch part)  Philipsburg

                                                region         income_level  \
34                               Europe & Central Asia          High income
46                          Latin America & Caribbean           High income
71                               Europe & Central Asia          High income
119                         Latin America & Caribbean           High income
161  Middle East, North Africa, Afghanistan & Pakistan  Lower middle income
184                         Latin America & Caribbean           High income

     longitude  latitude iso2Code
34         NaN       NaN       JG
46         NaN       NaN       CW
71         NaN       NaN       GI
119        NaN       NaN       MF
161        NaN       NaN       PS
184        NaN       NaN       SX

In [16]:
# Fill in missing coordinates manually [longitude, latitude]
# Channel Islands--between England & France
country_data_filtered.loc[country_data_filtered['country_name'] == 'Channel Islands', ['longitude', 'latitude']] = [-2.3644, 49.3723]
# Curacao--Caribbean, near Venezuela
country_data_filtered.loc[country_data_filtered['country_name'] == 'Curacao', ['longitude', 'latitude']] = [-68.9900, 12.1696]
# Gibraltar--southern tip of Spain
country_data_filtered.loc[country_data_filtered['country_name'] == 'Gibraltar', ['longitude', 'latitude']] = [-5.3536, 36.1408]
# St. Martin--north part of island (French part)
country_data_filtered.loc[country_data_filtered['country_name'] == 'St. Martin (French part)', ['longitude', 'latitude']] = [-63.0525, 18.0825]
# West Bank and Gaza--Middle East region
country_data_filtered.loc[country_data_filtered['country_name'] == 'West Bank and Gaza', ['longitude', 'latitude']] = [35.3027, 31.9466]
# Sint Maarten--south part of island (Dutch part)
country_data_filtered.loc[country_data_filtered['country_name'] == 'Sint Maarten (Dutch part)', ['longitude', 'latitude']] = [-63.0548, 18.0425]

# Check result
country_data_filtered.loc[country_data_filtered['country_name'].isin([
    'Channel Islands', 'Curacao', 'Gibraltar',
    'St. Martin (French part)', 'West Bank and Gaza',
    'Sint Maarten (Dutch part)'
]), ['country_name', 'latitude', 'longitude']]

                  country_name  latitude  longitude
34             Channel Islands   49.3723    -2.3644
46                     Curacao   12.1696   -68.9900
71                   Gibraltar   36.1408    -5.3536
119   St. Martin (French part)   18.0825   -63.0525
161         West Bank and Gaza   31.9466    35.3027
184  Sint Maarten (Dutch part)   18.0425   -63.0548

In [17]:
# Rename final fully cleaned dataframe for export
country_metadata_clean = country_data_filtered

# Save cleaned data as csv file
country_metadata_clean.to_csv(r'..\data_clean\country_metadata_clean.csv', index=False)
print('country_metadata_clean.csv has been saved')

country_metadata_clean.csv has been saved