This Jupyter Notebook is the cleaning process of the world bank databank world development (8) indicators csv.

In [9]:
# Import libraries
import pandas as pd

In [10]:
# Read in world bank wdi data file
wb_wdi_df_wide = pd.read_csv('../data_raw/WB_WDI_Data.csv')

# Check data
print(wb_wdi_df_wide.info())
wb_wdi_df_wide.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1741 entries, 0 to 1740
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Country Name   1738 non-null   object
 1   Country Code   1736 non-null   object
 2   Series Name    1736 non-null   object
 3   Series Code    1736 non-null   object
 4   2011 [YR2011]  1736 non-null   object
 5   2012 [YR2012]  1736 non-null   object
 6   2013 [YR2013]  1736 non-null   object
 7   2014 [YR2014]  1736 non-null   object
 8   2015 [YR2015]  1736 non-null   object
 9   2016 [YR2016]  1736 non-null   object
 10  2017 [YR2017]  1736 non-null   object
 11  2018 [YR2018]  1736 non-null   object
 12  2019 [YR2019]  1736 non-null   object
 13  2020 [YR2020]  1736 non-null   object
 14  2021 [YR2021]  1736 non-null   object
 15  2022 [YR2022]  1736 non-null   object
 16  2023 [YR2023]  1736 non-null   object
 17  2024 [YR2024]  1736 non-null   object
dtypes: object(18)
memory usage: 245.0+ KB
None

,Country Name,Country Code,Series Name,Series Code,2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023],2024 [YR2024]
0,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,606.694676337726,651.417134470046,637.087099117099,625.054941813938,565.569730408751,522.082215583898,525.469770891619,491.337221382603,496.6025042585,510.787063366811,356.496214115892,357.261152798144,413.757894705303,..
1,Afghanistan,AFG,Current health expenditure per capita (current...,SH.XPD.CHEX.PC.CD,52.18721771,52.45247269,56.16043472,60.04951096,59.91960526,61.37234497,66.82388306,71.22509003,74.0642395,80.0892334,81.52112579,80.6516037,..,..
2,Afghanistan,AFG,Current health expenditure (% of GDP),SH.XPD.CHEX.GD.ZS,8.56190777,7.89716864,8.80596447,9.52887821,10.10534763,11.81859016,12.62081718,14.20841885,14.83131981,15.53361416,21.508461,23.0881691,..,..
3,Afghanistan,AFG,"Government expenditure on education, total (% ...",SE.XPD.TOTL.GD.ZS,3.4620099067688,2.60419988632202,3.45445990562439,3.69521999359131,3.2558000087738,4.54397010803223,4.34319019317627,..,..,..,..,..,..,..
4,Afghanistan,AFG,"Literacy rate, adult total (% of people ages 1...",SE.ADT.LITR.ZS,31.4500007629394,..,..,..,33.75,..,..,..,..,35.9865546430738,37.2700004577637,..,..,..

In [11]:
# Check for missing values
wb_wdi_df_wide[wb_wdi_df_wide['Country Name'].isna() | wb_wdi_df_wide['Country Code'].isna()]

,Country Name,Country Code,Series Name,Series Code,2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023],2024 [YR2024]
1736,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1737,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1739,Data from database: World Development Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1740,Last Updated: 10/07/2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
# Drop last 5 rows (blank rows and metadata info)
wb_wdi_df_wide.drop(wb_wdi_df_wide.tail(5).index, inplace=True)
wb_wdi_df_wide.tail(6)

,Country Name,Country Code,Series Name,Series Code,2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023],2024 [YR2024]
1730,Zimbabwe,ZWE,Current health expenditure (% of GDP),SH.XPD.CHEX.GD.ZS,8.08288383,6.91794872,7.10940313,8.13227272,7.44982719,7.46644735,6.17278528,4.65527105,3.23267817,2.95440149,2.78571677,3.62880659,..,..
1731,Zimbabwe,ZWE,"Government expenditure on education, total (% ...",SE.XPD.TOTL.GD.ZS,..,6.07020998001099,5.99597978591919,6.13835000991821,..,..,2.00339007377625,2.05048990249634,..,..,..,..,0.384771297211919,..
1732,Zimbabwe,ZWE,"Literacy rate, adult total (% of people ages 1...",SE.ADT.LITR.ZS,..,..,..,..,..,..,..,..,93.2300033569336,..,..,..,..,..
1733,Zimbabwe,ZWE,"School enrollment, primary (% gross)",SE.PRM.ENRR,..,100.09812912727,99.1726387639853,98.2478143871674,97.2290747819179,95.7340946958404,94.3341728822186,93.755201992062,93.4270967154238,93.6125855639325,92.7846905815791,93.1659658731937,93.2383787742938,93.0772110334414
1734,Zimbabwe,ZWE,"School enrollment, secondary (% gross)",SE.SEC.ENRR,..,75.8648109767885,52.4158515930176,..,..,..,..,..,..,..,..,..,..,..
1735,Zimbabwe,ZWE,"School enrollment, tertiary (% gross)",SE.TER.ENRR,7.111226643716,7.12874147164551,7.31873655658947,..,11.0489020370076,..,..,..,..,..,..,..,..,7.74912957845971

In [13]:
# Check columns
wb_wdi_df_wide.columns

Index(['Country Name', 'Country Code', 'Series Name', 'Series Code',
       '2011 [YR2011]', '2012 [YR2012]', '2013 [YR2013]', '2014 [YR2014]',
       '2015 [YR2015]', '2016 [YR2016]', '2017 [YR2017]', '2018 [YR2018]',
       '2019 [YR2019]', '2020 [YR2020]', '2021 [YR2021]', '2022 [YR2022]',
       '2023 [YR2023]', '2024 [YR2024]'],
      dtype='object')

In [14]:
# Melt the dataframe to long format
wb_wdi_df = wb_wdi_df_wide.melt(
    id_vars=['Country Name', 'Country Code', 'Series Name', 'Series Code'],
    value_vars=[col for col in wb_wdi_df_wide.columns if 'YR' in col],
    var_name='Year',
    value_name='Value'
)

# Clean up the 'Year' column (remove '[YR2011]' part and change to int)
wb_wdi_df['Year'] = wb_wdi_df['Year'].str.extract('(\d{4})').astype(int)

# Convert 'Value' to numeric and round to 2 decimals
wb_wdi_df['Value'] = pd.to_numeric(wb_wdi_df['Value'], errors='coerce').round(2)

# Strip country name to remove whitespace
wb_wdi_df['Country Name'] = wb_wdi_df['Country Name'].str.strip()

# Check the result
wb_wdi_df.head()

,Country Name,Country Code,Series Name,Series Code,Year,Value
0,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,2011,606.69
1,Afghanistan,AFG,Current health expenditure per capita (current...,SH.XPD.CHEX.PC.CD,2011,52.19
2,Afghanistan,AFG,Current health expenditure (% of GDP),SH.XPD.CHEX.GD.ZS,2011,8.56
3,Afghanistan,AFG,"Government expenditure on education, total (% ...",SE.XPD.TOTL.GD.ZS,2011,3.46
4,Afghanistan,AFG,"Literacy rate, adult total (% of people ages 1...",SE.ADT.LITR.ZS,2011,31.45

In [15]:
# # Standardize column names for consistency between data for cleaner merges
wb_wdi_df.rename(columns={'Country Name': 'country_name', 'Country Code': 'id', 'Series Name': 'series_name', 'Series Code': 'series_code', 'Year': 'year', 'Value': 'value'}, inplace=True)

# Check result
wb_wdi_df

,country_name,id,series_name,series_code,year,value
0,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,2011,606.69
1,Afghanistan,AFG,Current health expenditure per capita (current...,SH.XPD.CHEX.PC.CD,2011,52.19
2,Afghanistan,AFG,Current health expenditure (% of GDP),SH.XPD.CHEX.GD.ZS,2011,8.56
3,Afghanistan,AFG,"Government expenditure on education, total (% ...",SE.XPD.TOTL.GD.ZS,2011,3.46
4,Afghanistan,AFG,"Literacy rate, adult total (% of people ages 1...",SE.ADT.LITR.ZS,2011,31.45
...,...,...,...,...,...,...
24299,Zimbabwe,ZWE,"Government expenditure on education, total (% ...",SE.XPD.TOTL.GD.ZS,2024,NaN
24300,Zimbabwe,ZWE,"Literacy rate, adult total (% of people ages 1...",SE.ADT.LITR.ZS,2024,NaN
24301,Zimbabwe,ZWE,"School enrollment, primary (% gross)",SE.PRM.ENRR,2024,93.08
24302,Zimbabwe,ZWE,"School enrollment, secondary (% gross)",SE.SEC.ENRR,2024,NaN
24303,Zimbabwe,ZWE,"School enrollment, tertiary (% gross)",SE.TER.ENRR,2024,7.75

In [16]:
# Reorder columns for readability and drop unnecessary columns
column_order = ['id', 'country_name', 'year', 'value', 'series_name']
wb_wdi_df = wb_wdi_df[column_order]

# Check result
wb_wdi_df.head()

,id,country_name,year,value,series_name
0,AFG,Afghanistan,2011,606.69,GDP per capita (current US$)
1,AFG,Afghanistan,2011,52.19,Current health expenditure per capita (current...
2,AFG,Afghanistan,2011,8.56,Current health expenditure (% of GDP)
3,AFG,Afghanistan,2011,3.46,"Government expenditure on education, total (% ..."
4,AFG,Afghanistan,2011,31.45,"Literacy rate, adult total (% of people ages 1..."

In [17]:
# Save cleaned data as csv file
wb_wdi_df.to_csv(r'..\data_clean\wb_wdi_df_clean.csv', index=False)
print('wb_wdi_df_clean.csv has been saved')

wb_wdi_df_clean.csv has been saved

This part of the Jupyter Notebook is the merging of country_data_clean.csv and wb_wdi_df_clean.csv

In [18]:
# Read in country metadata csv
country_metadata = pd.read_csv('..\data_clean\country_metadata_clean.csv')

# Check result
country_metadata.head()

,id,country_name,capital_city,region,income_level,longitude,latitude,iso2Code
0,ABW,Aruba,Oranjestad,Latin America & Caribbean,High income,-70.0167,12.51670,AW
1,AFG,Afghanistan,Kabul,"Middle East, North Africa, Afghanistan & Pakistan",Low income,69.1761,34.52280,AF
2,AGO,Angola,Luanda,Sub-Saharan Africa,Lower middle income,13.2420,-8.81155,AO
3,ALB,Albania,Tirane,Europe & Central Asia,Upper middle income,19.8172,41.33170,AL
4,AND,Andorra,Andorra la Vella,Europe & Central Asia,High income,1.5218,42.50750,AD

In [19]:
# Check which country codes and country names match
print(set(wb_wdi_df['id']).difference(set(country_metadata['id'])))
print(set(wb_wdi_df['country_name']).difference(set(country_metadata['country_name'])))

set()
set()

In [20]:
# Merging dataframes
wb_wdi_country_merged = pd.merge(wb_wdi_df, country_metadata, how='left', on=['id', 'country_name'])

# Check result
print(wb_wdi_country_merged.shape)
wb_wdi_country_merged.head()

(24304, 11)

,id,country_name,year,value,series_name,capital_city,region,income_level,longitude,latitude,iso2Code
0,AFG,Afghanistan,2011,606.69,GDP per capita (current US$),Kabul,"Middle East, North Africa, Afghanistan & Pakistan",Low income,69.1761,34.5228,AF
1,AFG,Afghanistan,2011,52.19,Current health expenditure per capita (current...,Kabul,"Middle East, North Africa, Afghanistan & Pakistan",Low income,69.1761,34.5228,AF
2,AFG,Afghanistan,2011,8.56,Current health expenditure (% of GDP),Kabul,"Middle East, North Africa, Afghanistan & Pakistan",Low income,69.1761,34.5228,AF
3,AFG,Afghanistan,2011,3.46,"Government expenditure on education, total (% ...",Kabul,"Middle East, North Africa, Afghanistan & Pakistan",Low income,69.1761,34.5228,AF
4,AFG,Afghanistan,2011,31.45,"Literacy rate, adult total (% of people ages 1...",Kabul,"Middle East, North Africa, Afghanistan & Pakistan",Low income,69.1761,34.5228,AF

In [21]:
# Final clean of columns and column reorder
wb_wdi_country_final = wb_wdi_country_merged.drop(columns=['capital_city'])

wb_wdi_country_final = wb_wdi_country_final[['id', 'country_name', 'year', 'series_name', 'value', 'income_level', 'region', 'longitude', 'latitude', 'iso2Code']]

# Check result
print(wb_wdi_country_final.shape)
wb_wdi_country_final.head()

(24304, 10)

,id,country_name,year,series_name,value,income_level,region,longitude,latitude,iso2Code
0,AFG,Afghanistan,2011,GDP per capita (current US$),606.69,Low income,"Middle East, North Africa, Afghanistan & Pakistan",69.1761,34.5228,AF
1,AFG,Afghanistan,2011,Current health expenditure per capita (current...,52.19,Low income,"Middle East, North Africa, Afghanistan & Pakistan",69.1761,34.5228,AF
2,AFG,Afghanistan,2011,Current health expenditure (% of GDP),8.56,Low income,"Middle East, North Africa, Afghanistan & Pakistan",69.1761,34.5228,AF
3,AFG,Afghanistan,2011,"Government expenditure on education, total (% ...",3.46,Low income,"Middle East, North Africa, Afghanistan & Pakistan",69.1761,34.5228,AF
4,AFG,Afghanistan,2011,"Literacy rate, adult total (% of people ages 1...",31.45,Low income,"Middle East, North Africa, Afghanistan & Pakistan",69.1761,34.5228,AF

In [23]:
# Save final merged data as csv
wb_wdi_country_final.to_csv(r'..\data\wb_wdi_country_df_final.csv', index=False)
print('wb_wdi_country_df_final.csv has been saved')

wb_wdi_country_df_final.csv has been saved