This Jupyter Notebook is the merging of the whr data with the wb wdi data. Final merge to make usable data for visualizations.

In [1]:
# Import libraries
import pandas as pd

In [2]:
# Read in cleaned csv's for merge
wb_wdi_country_df = pd.read_csv('../data_clean/wb_wdi_country_df_final.csv')
whr_df = pd.read_csv('../data_clean/whr_df_final.csv')
print('CSVs read in successfully')

CSVs read in successfully

In [3]:
# Dupes for wdi data
wdi_duplicates = wb_wdi_country_df[wb_wdi_country_df.duplicated(subset=['year', 'country_name', 'series_name'], keep=False)]
print('Number of duplicate rows in wdi data:', len(wdi_duplicates))
print(wdi_duplicates[['year', 'country_name', 'series_name']])

# Dupes for whr data
whr_duplicates = whr_df[whr_df.duplicated(subset=['year', 'country_name'], keep=False)]
print('Number of duplicate rows in whr data:', len(whr_duplicates))
print(whr_duplicates[['year', 'country_name']])

Number of duplicate rows in wdi data: 0
Empty DataFrame
Columns: [year, country_name, series_name]
Index: []
Number of duplicate rows in whr data: 0
Empty DataFrame
Columns: [year, country_name]
Index: []

In [4]:
# Check whr data
print(whr_df.info())
whr_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1968 entries, 0 to 1967
Data columns (total 7 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   year                                    1968 non-null   int64
 1   country_name                            1968 non-null   object
 2   rank                                    1968 non-null   int64
 3   life_evaluation_3-year_average          1968 non-null   float64
 4   explained_by_log_gdp_per_capita         872 non-null    float64
 5   explained_by_healthy_life_expectancy    870 non-null    float64
 6   explained_by_perceptions_of_corruption  871 non-null    float64
dtypes: float64(4), int64(2), object(1)
memory usage: 107.8+ KB
None

,year,country_name,rank,life_evaluation_3-year_average,explained_by_log_gdp_per_capita,explained_by_healthy_life_expectancy,explained_by_perceptions_of_corruption
0,2011,Afghanistan,131,4.258,NaN,NaN,NaN
1,2012,Afghanistan,143,4.040,NaN,NaN,NaN
2,2014,Afghanistan,153,3.575,NaN,NaN,NaN
3,2015,Afghanistan,153,3.360,NaN,NaN,NaN
4,2016,Afghanistan,141,3.794,NaN,NaN,NaN

In [5]:
# Rename columns in whr dataframe
whr_df_final = whr_df.rename(columns={
    'life_evaluation_3-year_average': 'Happiness Score',
    'explained_by_log_gdp_per_capita': 'GDP Contribution',
    'explained_by_healthy_life_expectancy': 'Life Expectancy Contribution',
    'explained_by_perceptions_of_corruption': 'Corruption Impact'
}, inplace=False)

# Check result
whr_df_final

,year,country_name,rank,Happiness Score,GDP Contribution,Life Expectancy Contribution,Corruption Impact
0,2011,Afghanistan,131,4.258,NaN,NaN,NaN
1,2012,Afghanistan,143,4.040,NaN,NaN,NaN
2,2014,Afghanistan,153,3.575,NaN,NaN,NaN
3,2015,Afghanistan,153,3.360,NaN,NaN,NaN
4,2016,Afghanistan,141,3.794,NaN,NaN,NaN
...,...,...,...,...,...,...,...
1963,2020,Zimbabwe,148,3.145,0.457,0.243,0.075
1964,2021,Zimbabwe,144,2.995,0.947,0.270,0.105
1965,2022,Zimbabwe,134,3.204,0.758,0.069,0.117
1966,2023,Zimbabwe,138,3.341,0.748,0.232,0.131
1967,2024,Zimbabwe,143,3.396,0.827,0.178,0.131

In [6]:
# Check wdi data
print(wb_wdi_country_df.info())
wb_wdi_country_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24304 entries, 0 to 24303
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            24304 non-null  object
 1   country_name  24304 non-null  object
 2   year          24304 non-null  int64
 3   series_name   24304 non-null  object
 4   value         16206 non-null  float64
 5   income_level  24304 non-null  object
 6   region        24304 non-null  object
 7   longitude     24304 non-null  float64
 8   latitude      24304 non-null  float64
 9   iso2Code      24192 non-null  object
dtypes: float64(3), int64(1), object(6)
memory usage: 1.9+ MB
None

,id,country_name,year,series_name,value,income_level,region,longitude,latitude,iso2Code
0,AFG,Afghanistan,2011,GDP per capita (current US$),606.69,Low income,"Middle East, North Africa, Afghanistan & Pakistan",69.1761,34.5228,AF
1,AFG,Afghanistan,2011,Current health expenditure per capita (current...,52.19,Low income,"Middle East, North Africa, Afghanistan & Pakistan",69.1761,34.5228,AF
2,AFG,Afghanistan,2011,Current health expenditure (% of GDP),8.56,Low income,"Middle East, North Africa, Afghanistan & Pakistan",69.1761,34.5228,AF
3,AFG,Afghanistan,2011,"Government expenditure on education, total (% ...",3.46,Low income,"Middle East, North Africa, Afghanistan & Pakistan",69.1761,34.5228,AF
4,AFG,Afghanistan,2011,"Literacy rate, adult total (% of people ages 1...",31.45,Low income,"Middle East, North Africa, Afghanistan & Pakistan",69.1761,34.5228,AF

In [7]:
# Rename columns in wdi dataframe
wdi_country_df_final = wb_wdi_country_df.rename(columns={
    'income_level': 'Income Level',
    'region': 'Region'
}, inplace=False)

# Check result
wdi_country_df_final

,id,country_name,year,series_name,value,Income Level,Region,longitude,latitude,iso2Code
0,AFG,Afghanistan,2011,GDP per capita (current US$),606.69,Low income,"Middle East, North Africa, Afghanistan & Pakistan",69.1761,34.5228,AF
1,AFG,Afghanistan,2011,Current health expenditure per capita (current...,52.19,Low income,"Middle East, North Africa, Afghanistan & Pakistan",69.1761,34.5228,AF
2,AFG,Afghanistan,2011,Current health expenditure (% of GDP),8.56,Low income,"Middle East, North Africa, Afghanistan & Pakistan",69.1761,34.5228,AF
3,AFG,Afghanistan,2011,"Government expenditure on education, total (% ...",3.46,Low income,"Middle East, North Africa, Afghanistan & Pakistan",69.1761,34.5228,AF
4,AFG,Afghanistan,2011,"Literacy rate, adult total (% of people ages 1...",31.45,Low income,"Middle East, North Africa, Afghanistan & Pakistan",69.1761,34.5228,AF
...,...,...,...,...,...,...,...,...,...,...
24299,ZWE,Zimbabwe,2024,"Government expenditure on education, total (% ...",NaN,Lower middle income,Sub-Saharan Africa,31.0672,-17.8312,ZW
24300,ZWE,Zimbabwe,2024,"Literacy rate, adult total (% of people ages 1...",NaN,Lower middle income,Sub-Saharan Africa,31.0672,-17.8312,ZW
24301,ZWE,Zimbabwe,2024,"School enrollment, primary (% gross)",93.08,Lower middle income,Sub-Saharan Africa,31.0672,-17.8312,ZW
24302,ZWE,Zimbabwe,2024,"School enrollment, secondary (% gross)",NaN,Lower middle income,Sub-Saharan Africa,31.0672,-17.8312,ZW
24303,ZWE,Zimbabwe,2024,"School enrollment, tertiary (% gross)",7.75,Lower middle income,Sub-Saharan Africa,31.0672,-17.8312,ZW

In [8]:
# Perform a left join
left_merge = pd.merge(
    whr_df_final,
    wdi_country_df_final,
    on=['year', 'country_name'],
    how='left'
)

print("Left join shape:", left_merge.shape)

Left join shape: (14533, 15)

In [9]:
# Check how many rows missing wdi data
missing_wdi = left_merge[left_merge['value'].isna()]
print("Rows with missing WDI data:", len(missing_wdi))

Rows with missing WDI data: 3726

In [ ]:
# # Perform an inner join
# inner_merge = pd.merge(
#     whr_df_final,
#     wdi_country_df_final,
#     on=['year', 'country_name'],
#     how='inner'
# )

# print("Inner join shape:", inner_merge.shape)

In [ ]:
# # How many whr rows would disappear with inner join
# print("Rows lost compared to WHR left join:", left_merge.shape[0] - inner_merge.shape[0])

In [ ]:
# # Find which whr rows were dropped in inner join
# lost_rows = left_merge[~left_merge['country_name'].isin(inner_merge['country_name'])]
# print(lost_rows[['year', 'country_name']])

In [10]:
# Check columns
left_merge.columns

Index(['year', 'country_name', 'rank', 'Happiness Score', 'GDP Contribution',
       'Life Expectancy Contribution', 'Corruption Impact', 'id',
       'series_name', 'value', 'Income Level', 'Region', 'longitude',
       'latitude', 'iso2Code'],
      dtype='object')

In [11]:
# Reorder columns
left_merge = left_merge[['id', 'country_name', 'year', 'rank', 'Happiness Score', 'GDP Contribution', 'Life Expectancy Contribution', 'Corruption Impact', 'series_name', 'value', 'Income Level', 'Region', 'longitude', 'latitude', 'iso2Code']]

# Check result
left_merge.columns

Index(['id', 'country_name', 'year', 'rank', 'Happiness Score',
       'GDP Contribution', 'Life Expectancy Contribution', 'Corruption Impact',
       'series_name', 'value', 'Income Level', 'Region', 'longitude',
       'latitude', 'iso2Code'],
      dtype='object')

In [ ]:
# # Check columns
# inner_merge.columns

In [ ]:
# Reorder columns
# inner_merge = inner_merge[['id', 'country_name', 'year', 'rank', 'Happiness Score', 'GDP Contribution', 'Life Expectancy Contribution', 'Corruption Impact', 'series_name', 'value', 'Income Level', 'Region', 'longitude', 'latitude', 'iso2Code']]

# # Check result
# inner_merge.columns

In [12]:
# Dupes for left join
left_duplicates = left_merge[left_merge.duplicated(subset=['year', 'country_name', 'series_name'], keep=False)]
print("Number of duplicate rows in left join:", len(left_duplicates))
print(left_duplicates[['year', 'country_name', 'series_name']])

# Dupes for inner join
# inner_duplicates = inner_merge[inner_merge.duplicated(subset=['year', 'country_name', 'series_name'], keep=False)]
# print("Number of duplicate rows in inner join:", len(inner_duplicates))
# print(inner_duplicates[['year', 'country_name', 'series_name']])

Number of duplicate rows in left join: 0
Empty DataFrame
Columns: [year, country_name, series_name]
Index: []

In [13]:
# List of distinct countries in left join
left_countries = left_merge['country_name'].unique()
print("Left join - number of distinct countries:", len(left_countries))
print(left_countries)

# List of distinct countries in inner join
# inner_countries = inner_merge['country_name'].unique()
# print("Inner join - number of distinct countries:", len(inner_countries))
# print(inner_countries)

Left join - number of distinct countries: 166
['Afghanistan' 'Albania' 'Algeria' 'Angola' 'Argentina' 'Armenia'
 'Australia' 'Austria' 'Azerbaijan' 'Bahrain' 'Bangladesh' 'Belarus'
 'Belgium' 'Belize' 'Benin' 'Bhutan' 'Bolivia' 'Bosnia and Herzegovina'
 'Botswana' 'Brazil' 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cambodia'
 'Cameroon' 'Canada' 'Central African Republic' 'Chad' 'Chile' 'China'
 'Colombia' 'Comoros' 'Congo' 'Costa Rica' "Cote d'Ivoire" 'Croatia'
 'Cuba' 'Cyprus' 'Czechia' 'DR Congo' 'Denmark' 'Djibouti'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Estonia' 'Eswatini'
 'Ethiopia' 'Finland' 'France' 'Gabon' 'Gambia' 'Georgia' 'Germany'
 'Ghana' 'Greece' 'Guatemala' 'Guinea' 'Guyana' 'Haiti' 'Honduras'
 'Hong Kong SAR of China' 'Hungary' 'Iceland' 'India' 'Indonesia' 'Iran'
 'Iraq' 'Ireland' 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan'
 'Kenya' 'Kosovo' 'Kuwait' 'Kyrgyzstan' 'Lao PDR' 'Latvia' 'Lebanon'
 'Lesotho' 'Liberia' 'Libya' 'Lithuania' 'Luxembourg' 'Madagascar'
 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta' 'Mauritania' 'Mauritius'
 'Mexico' 'Moldova' 'Mongolia' 'Montenegro' 'Morocco' 'Mozambique'
 'Myanmar' 'Namibia' 'Nepal' 'Netherlands' 'New Zealand' 'Nicaragua'
 'Niger' 'Nigeria' 'North Cyprus' 'North Macedonia' 'Norway' 'Oman'
 'Pakistan' 'Panama' 'Paraguay' 'Peru' 'Philippines' 'Poland' 'Portugal'
 'Puerto Rico' 'Qatar' 'Republic of Korea' 'Romania' 'Russian Federation'
 'Rwanda' 'Saudi Arabia' 'Senegal' 'Serbia' 'Sierra Leone' 'Singapore'
 'Slovakia' 'Slovenia' 'Somalia' 'South Africa' 'South Sudan' 'Spain'
 'Sri Lanka' 'Sudan' 'Suriname' 'Sweden' 'Switzerland' 'Syria'
 'Taiwan Province of China' 'Tajikistan' 'Tanzania' 'Thailand' 'Togo'
 'Trinidad and Tobago' 'Tunisia' 'Turkiye' 'Turkmenistan' 'Uganda'
 'Ukraine' 'United Arab Emirates' 'United Kingdom' 'United States'
 'Uruguay' 'Uzbekistan' 'Venezuela' 'Viet Nam' 'West Bank and Gaza'
 'Yemen' 'Zambia' 'Zimbabwe']

In [ ]:
# # Convert to sets for comparison
# left_set = set(left_countries)
# inner_set = set(inner_countries)

# # Countries lost when using inner join
# lost_countries = left_set - inner_set
# print("Countries lost in inner join compared to left join:")
# print(lost_countries)

In [14]:
# Copy to avoid modifying original
left_merge_long = left_merge.copy()

# Pivot left merge to wide format to make Indicator Descripton values it's own column. With happiness contributors
left_merge_wide = left_merge_long.pivot_table(
    index=['id', 'country_name', 'year', 'rank', 'Happiness Score', 'Income Level', 'Region', 'longitude', 'latitude'],  # row identifiers
    columns='series_name',  # the variable that will become columns
    values='value'            # numeric values
).reset_index()

# Check result
print(left_merge_wide.shape)
left_merge_wide

(1794, 17)

series_name,id,country_name,year,rank,Happiness Score,Income Level,Region,longitude,latitude,Current health expenditure (% of GDP),Current health expenditure per capita (current US$),GDP per capita (current US$),"Government expenditure on education, total (% of GDP)","Literacy rate, adult total (% of people ages 15 and above)","School enrollment, primary (% gross)","School enrollment, secondary (% gross)","School enrollment, tertiary (% gross)"
0,AFG,Afghanistan,2011,131,4.258,Low income,"Middle East, North Africa, Afghanistan & Pakistan",69.1761,34.5228,8.56,52.19,606.69,3.46,31.45,101.54,52.45,3.69
1,AFG,Afghanistan,2012,143,4.040,Low income,"Middle East, North Africa, Afghanistan & Pakistan",69.1761,34.5228,7.90,52.45,651.42,2.60,NaN,106.58,54.37,NaN
2,AFG,Afghanistan,2014,153,3.575,Low income,"Middle East, North Africa, Afghanistan & Pakistan",69.1761,34.5228,9.53,60.05,625.05,3.70,NaN,109.83,54.29,8.40
3,AFG,Afghanistan,2015,153,3.360,Low income,"Middle East, North Africa, Afghanistan & Pakistan",69.1761,34.5228,10.11,59.92,565.57,3.26,33.75,106.77,53.15,NaN
4,AFG,Afghanistan,2016,141,3.794,Low income,"Middle East, North Africa, Afghanistan & Pakistan",69.1761,34.5228,11.82,61.37,522.08,4.54,NaN,106.78,53.44,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1789,ZWE,Zimbabwe,2020,148,3.145,Lower middle income,Sub-Saharan Africa,31.0672,-17.8312,2.95,51.14,1730.45,NaN,NaN,93.61,NaN,NaN
1790,ZWE,Zimbabwe,2021,144,2.995,Lower middle income,Sub-Saharan Africa,31.0672,-17.8312,2.79,63.51,1724.39,NaN,NaN,92.78,NaN,NaN
1791,ZWE,Zimbabwe,2022,134,3.204,Lower middle income,Sub-Saharan Africa,31.0672,-17.8312,3.63,70.66,2040.55,NaN,NaN,93.17,NaN,NaN
1792,ZWE,Zimbabwe,2023,138,3.341,Lower middle income,Sub-Saharan Africa,31.0672,-17.8312,NaN,NaN,2156.03,0.38,NaN,93.24,NaN,NaN
1793,ZWE,Zimbabwe,2024,143,3.396,Lower middle income,Sub-Saharan Africa,31.0672,-17.8312,NaN,NaN,2656.41,NaN,NaN,93.08,NaN,7.75

In [15]:
# Final column rename after merge and pivot with happiness contributors
left_merge_wide.rename(columns={'id': 'Iso3', 'country_name': 'Country', 'year': 'Year', 'rank': 'Happiness Rank', 'Current health expenditure (% of GDP)': 'Health Expenditure (% GDP)', 'Current health expenditure per capita (current US$)': 'Health Expenditure (per capita)', 'GDP per capita (current US$)': 'GDP per Capita', 'Government expenditure on education, total (% of GDP)': 'Education Expenditure (% GDP)', 'Literacy rate, adult total (% of people ages 15 and above)': 'Adult Literacy %', 'School enrollment, primary (% gross)': 'Primary School Enrollment %', 'School enrollment, secondary (% gross)': 'Secondary School Enrollment %', 'School enrollment, tertiary (% gross)': 'Tertiary School Enrollment %'}, inplace=True)

# Check result
print(left_merge_wide.shape)
left_merge_wide.head()

(1794, 17)

series_name,Iso3,Country,Year,Happiness Rank,Happiness Score,Income Level,Region,longitude,latitude,Health Expenditure (% GDP),Health Expenditure (per capita),GDP per Capita,Education Expenditure (% GDP),Adult Literacy %,Primary School Enrollment %,Secondary School Enrollment %,Tertiary School Enrollment %
0,AFG,Afghanistan,2011,131,4.258,Low income,"Middle East, North Africa, Afghanistan & Pakistan",69.1761,34.5228,8.56,52.19,606.69,3.46,31.45,101.54,52.45,3.69
1,AFG,Afghanistan,2012,143,4.040,Low income,"Middle East, North Africa, Afghanistan & Pakistan",69.1761,34.5228,7.90,52.45,651.42,2.60,NaN,106.58,54.37,NaN
2,AFG,Afghanistan,2014,153,3.575,Low income,"Middle East, North Africa, Afghanistan & Pakistan",69.1761,34.5228,9.53,60.05,625.05,3.70,NaN,109.83,54.29,8.40
3,AFG,Afghanistan,2015,153,3.360,Low income,"Middle East, North Africa, Afghanistan & Pakistan",69.1761,34.5228,10.11,59.92,565.57,3.26,33.75,106.77,53.15,NaN
4,AFG,Afghanistan,2016,141,3.794,Low income,"Middle East, North Africa, Afghanistan & Pakistan",69.1761,34.5228,11.82,61.37,522.08,4.54,NaN,106.78,53.44,NaN

In [17]:
# Reorder columns
left_merge_wide = left_merge_wide[['Iso3', 'Country', 'Year', 'Happiness Rank', 'Happiness Score', 'Health Expenditure (% GDP)', 'Health Expenditure (per capita)', 'GDP per Capita', 'Education Expenditure (% GDP)', 'Adult Literacy %', 'Primary School Enrollment %', 'Secondary School Enrollment %', 'Tertiary School Enrollment %', 'Income Level', 'Region', 'longitude', 'latitude']]

# Check result
left_merge_wide.columns

Index(['Iso3', 'Country', 'Year', 'Happiness Rank', 'Happiness Score',
       'Health Expenditure (% GDP)', 'Health Expenditure (per capita)',
       'GDP per Capita', 'Education Expenditure (% GDP)', 'Adult Literacy %',
       'Primary School Enrollment %', 'Secondary School Enrollment %',
       'Tertiary School Enrollment %', 'Income Level', 'Region', 'longitude',
       'latitude'],
      dtype='object', name='series_name')

In [18]:
# Pivot left merge to wide format to make Indicator Descripton values it's own column. With happiness contributors
left_merge_wide_advanced = left_merge_long.pivot_table(
    index=['id', 'country_name', 'year', 'rank', 'Happiness Score', 'GDP Contribution', 'Life Expectancy Contribution', 'Corruption Impact', 'Income Level', 'Region', 'longitude', 'latitude'],  # row identifiers
    columns='series_name',  # the variable that will become columns
    values='value'            # numeric values
).reset_index()

# Check result
print(left_merge_wide_advanced.shape)
left_merge_wide_advanced

(795, 20)

series_name,id,country_name,year,rank,Happiness Score,GDP Contribution,Life Expectancy Contribution,Corruption Impact,Income Level,Region,longitude,latitude,Current health expenditure (% of GDP),Current health expenditure per capita (current US$),GDP per capita (current US$),"Government expenditure on education, total (% of GDP)","Literacy rate, adult total (% of people ages 15 and above)","School enrollment, primary (% gross)","School enrollment, secondary (% gross)","School enrollment, tertiary (% gross)"
0,AFG,Afghanistan,2019,153,2.567,0.301,0.266,0.001,Low income,"Middle East, North Africa, Afghanistan & Pakistan",69.1761,34.5228,14.83,74.06,496.60,NaN,NaN,109.08,NaN,NaN
1,AFG,Afghanistan,2020,149,2.523,0.370,0.126,0.010,Low income,"Middle East, North Africa, Afghanistan & Pakistan",69.1761,34.5228,15.53,80.09,510.79,NaN,35.99,NaN,NaN,10.85
2,AFG,Afghanistan,2021,146,2.404,0.758,0.289,0.005,Low income,"Middle East, North Africa, Afghanistan & Pakistan",69.1761,34.5228,21.51,81.52,356.50,NaN,37.27,NaN,NaN,NaN
3,AFG,Afghanistan,2022,137,1.859,0.645,0.087,0.059,Low income,"Middle East, North Africa, Afghanistan & Pakistan",69.1761,34.5228,23.09,80.65,357.26,NaN,NaN,NaN,NaN,NaN
4,AFG,Afghanistan,2023,143,1.721,0.628,0.242,0.088,Low income,"Middle East, North Africa, Afghanistan & Pakistan",69.1761,34.5228,NaN,NaN,413.76,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
790,ZWE,Zimbabwe,2020,148,3.145,0.457,0.243,0.075,Lower middle income,Sub-Saharan Africa,31.0672,-17.8312,2.95,51.14,1730.45,NaN,NaN,93.61,NaN,NaN
791,ZWE,Zimbabwe,2021,144,2.995,0.947,0.270,0.105,Lower middle income,Sub-Saharan Africa,31.0672,-17.8312,2.79,63.51,1724.39,NaN,NaN,92.78,NaN,NaN
792,ZWE,Zimbabwe,2022,134,3.204,0.758,0.069,0.117,Lower middle income,Sub-Saharan Africa,31.0672,-17.8312,3.63,70.66,2040.55,NaN,NaN,93.17,NaN,NaN
793,ZWE,Zimbabwe,2023,138,3.341,0.748,0.232,0.131,Lower middle income,Sub-Saharan Africa,31.0672,-17.8312,NaN,NaN,2156.03,0.38,NaN,93.24,NaN,NaN
794,ZWE,Zimbabwe,2024,143,3.396,0.827,0.178,0.131,Lower middle income,Sub-Saharan Africa,31.0672,-17.8312,NaN,NaN,2656.41,NaN,NaN,93.08,NaN,7.75

In [19]:
# Final column rename after merge and pivot with happiness contributors
left_merge_wide_advanced.rename(columns={'id': 'Iso3', 'country_name': 'Country', 'year': 'Year', 'rank': 'Happiness Rank', 'Current health expenditure (% of GDP)': 'Health Expenditure (% GDP)', 'Current health expenditure per capita (current US$)': 'Health Expenditure (per capita)', 'GDP per capita (current US$)': 'GDP per Capita', 'Government expenditure on education, total (% of GDP)': 'Education Expenditure (% GDP)', 'Literacy rate, adult total (% of people ages 15 and above)': 'Adult Literacy %', 'School enrollment, primary (% gross)': 'Primary School Enrollment %', 'School enrollment, secondary (% gross)': 'Secondary School Enrollment %', 'School enrollment, tertiary (% gross)': 'Tertiary School Enrollment %'}, inplace=True)

# Check result
print(left_merge_wide_advanced.shape)
left_merge_wide_advanced.head()

(795, 20)

series_name,Iso3,Country,Year,Happiness Rank,Happiness Score,GDP Contribution,Life Expectancy Contribution,Corruption Impact,Income Level,Region,longitude,latitude,Health Expenditure (% GDP),Health Expenditure (per capita),GDP per Capita,Education Expenditure (% GDP),Adult Literacy %,Primary School Enrollment %,Secondary School Enrollment %,Tertiary School Enrollment %
0,AFG,Afghanistan,2019,153,2.567,0.301,0.266,0.001,Low income,"Middle East, North Africa, Afghanistan & Pakistan",69.1761,34.5228,14.83,74.06,496.60,NaN,NaN,109.08,NaN,NaN
1,AFG,Afghanistan,2020,149,2.523,0.370,0.126,0.010,Low income,"Middle East, North Africa, Afghanistan & Pakistan",69.1761,34.5228,15.53,80.09,510.79,NaN,35.99,NaN,NaN,10.85
2,AFG,Afghanistan,2021,146,2.404,0.758,0.289,0.005,Low income,"Middle East, North Africa, Afghanistan & Pakistan",69.1761,34.5228,21.51,81.52,356.50,NaN,37.27,NaN,NaN,NaN
3,AFG,Afghanistan,2022,137,1.859,0.645,0.087,0.059,Low income,"Middle East, North Africa, Afghanistan & Pakistan",69.1761,34.5228,23.09,80.65,357.26,NaN,NaN,NaN,NaN,NaN
4,AFG,Afghanistan,2023,143,1.721,0.628,0.242,0.088,Low income,"Middle East, North Africa, Afghanistan & Pakistan",69.1761,34.5228,NaN,NaN,413.76,NaN,NaN,NaN,NaN,NaN

In [20]:
# Reorder columns
left_merge_wide_advanced = left_merge_wide_advanced[['Iso3', 'Country', 'Year', 'Happiness Rank', 'Happiness Score', 'GDP Contribution', 'Life Expectancy Contribution', 'Corruption Impact', 'Health Expenditure (% GDP)', 'Health Expenditure (per capita)', 'GDP per Capita', 'Education Expenditure (% GDP)', 'Adult Literacy %', 'Primary School Enrollment %', 'Secondary School Enrollment %', 'Tertiary School Enrollment %', 'Income Level', 'Region', 'longitude', 'latitude']]

# Check result
left_merge_wide_advanced.columns

Index(['Iso3', 'Country', 'Year', 'Happiness Rank', 'Happiness Score',
       'GDP Contribution', 'Life Expectancy Contribution', 'Corruption Impact',
       'Health Expenditure (% GDP)', 'Health Expenditure (per capita)',
       'GDP per Capita', 'Education Expenditure (% GDP)', 'Adult Literacy %',
       'Primary School Enrollment %', 'Secondary School Enrollment %',
       'Tertiary School Enrollment %', 'Income Level', 'Region', 'longitude',
       'latitude'],
      dtype='object', name='series_name')

In [ ]:
# # Pivot inner merge to wide format to make Indicator Descripton values it's own column. Leave out happiness contributors
# # Copy to avoid modifying original
# inner_merge_long = inner_merge.copy()

# # Pivot so each indicator becomes its own column
# inner_merge_wide = inner_merge_long.pivot_table(
#     index=['id', 'country_name', 'year', 'rank', 'Happiness Score', 'Income Level', 'Region', 'longitude', 'latitude'],  # row identifiers
#     columns='series_name',  # the variable that will become columns
#     values='value'            # numeric values
# ).reset_index()

# # Check result
# print(inner_merge_wide.shape)
# inner_merge_wide

In [ ]:
# # Pivot inner merge to wide format to make Indicator Descripton values it's own column. With happiness contributors
# inner_merge_wide_advanced = inner_merge_long.pivot_table(
#     index=['id', 'country_name', 'year', 'rank', 'Happiness Score', 'GDP Contribution', 'Life Expectancy Contribution', 'Corruption Impact', 'Income Level', 'Region', 'longitude', 'latitude'],  # row identifiers
#     columns='series_name',  # the variable that will become columns
#     values='value'            # numeric values
# ).reset_index()

# # Check result
# print(inner_merge_wide_advanced.shape)
# inner_merge_wide_advanced

In [21]:
# Final column rename after left merge
left_merge.rename(columns={'id': 'Iso3', 'country_name': 'Country', 'year': 'Year', 'rank': 'Happiness Rank'}, inplace=True)

# Check result
print(left_merge.shape)
left_merge.head()

(14533, 15)

,Iso3,Country,Year,Happiness Rank,Happiness Score,GDP Contribution,Life Expectancy Contribution,Corruption Impact,series_name,value,Income Level,Region,longitude,latitude,iso2Code
0,AFG,Afghanistan,2011,131,4.258,NaN,NaN,NaN,GDP per capita (current US$),606.69,Low income,"Middle East, North Africa, Afghanistan & Pakistan",69.1761,34.5228,AF
1,AFG,Afghanistan,2011,131,4.258,NaN,NaN,NaN,Current health expenditure per capita (current...,52.19,Low income,"Middle East, North Africa, Afghanistan & Pakistan",69.1761,34.5228,AF
2,AFG,Afghanistan,2011,131,4.258,NaN,NaN,NaN,Current health expenditure (% of GDP),8.56,Low income,"Middle East, North Africa, Afghanistan & Pakistan",69.1761,34.5228,AF
3,AFG,Afghanistan,2011,131,4.258,NaN,NaN,NaN,"Government expenditure on education, total (% ...",3.46,Low income,"Middle East, North Africa, Afghanistan & Pakistan",69.1761,34.5228,AF
4,AFG,Afghanistan,2011,131,4.258,NaN,NaN,NaN,"Literacy rate, adult total (% of people ages 1...",31.45,Low income,"Middle East, North Africa, Afghanistan & Pakistan",69.1761,34.5228,AF

In [ ]:
# # Final column rename after merge and pivot without happiness contributors
# inner_merge_wide.rename(columns={'id': 'Iso3', 'country_name': 'Country', 'year': 'Year', 'rank': 'Happiness Rank', 'Current health expenditure (% of GDP)': 'Health Expenditure (% GDP)', 'Current health expenditure per capita (current US$)': 'Health Expenditure (per capita)', 'GDP per capita (current US$)': 'GDP per Capita', 'Government expenditure on education, total (% of GDP)': 'Education Expenditure (% GDP)', 'Literacy rate, adult total (% of people ages 15 and above)': 'Adult Literacy %', 'School enrollment, primary (% gross)': 'Primary School Enrollment %', 'School enrollment, secondary (% gross)': 'Secondary School Enrollment %', 'School enrollment, tertiary (% gross)': 'Tertiary School Enrollment %'}, inplace=True)

# # Check result
# print(inner_merge_wide.shape)
# inner_merge_wide.head()

In [ ]:
# # Reorder columns
# inner_merge_wide = inner_merge_wide[['Iso3', 'Country', 'Year', 'Happiness Rank', 'Happiness Score', 'Health Expenditure (% GDP)', 'Health Expenditure (per capita)', 'GDP per Capita', 'Education Expenditure (% GDP)', 'Adult Literacy %', 'Primary School Enrollment %', 'Secondary School Enrollment %', 'Tertiary School Enrollment %', 'Income Level', 'Region', 'longitude', 'latitude']]

# # Check result
# inner_merge_wide.columns

In [ ]:
# # Final column rename after merge and pivot with happiness contributors
# inner_merge_wide_advanced.rename(columns={'id': 'Iso3', 'country_name': 'Country', 'year': 'Year', 'rank': 'Happiness Rank', 'Current health expenditure (% of GDP)': 'Health Expenditure (% GDP)', 'Current health expenditure per capita (current US$)': 'Health Expenditure (per capita)', 'GDP per capita (current US$)': 'GDP per Capita', 'Government expenditure on education, total (% of GDP)': 'Education Expenditure (% GDP)', 'Literacy rate, adult total (% of people ages 15 and above)': 'Adult Literacy %', 'School enrollment, primary (% gross)': 'Primary School Enrollment %', 'School enrollment, secondary (% gross)': 'Secondary School Enrollment %', 'School enrollment, tertiary (% gross)': 'Tertiary School Enrollment %'}, inplace=True)

# # Check result
# print(inner_merge_wide_advanced.shape)
# inner_merge_wide_advanced.head()

In [ ]:
# # Reorder columns
# inner_merge_wide_advanced = inner_merge_wide_advanced[['Iso3', 'Country', 'Year', 'Happiness Rank', 'Happiness Score', 'GDP Contribution', 'Life Expectancy Contribution', 'Corruption Impact', 'Health Expenditure (% GDP)', 'Health Expenditure (per capita)', 'GDP per Capita', 'Education Expenditure (% GDP)', 'Adult Literacy %', 'Primary School Enrollment %', 'Secondary School Enrollment %', 'Tertiary School Enrollment %', 'Income Level', 'Region', 'longitude', 'latitude']]

# # Check result
# inner_merge_wide_advanced.columns

In [22]:
# Save left merge as csv file
left_merge.to_csv(r'..\data\whr_wdi_left_merge.csv', index=False)
print('whr_wdi_left_merge.csv has been saved')

# Save left merge wide format as csv file
left_merge_wide.to_csv(r'..\data\whr_wdi_left_merge_wide.csv', index=False)
print('whr_wdi_left_merge_wide.csv has been saved')

# Save left merge wide format with happiness contributors as csv file
left_merge_wide_advanced.to_csv(r'..\data\whr_wdi_left_merge_wide_advanced.csv', index=False)
print('whr_wdi_left_merge_wide_advanced.csv has been saved')

# # Save inner merge long format as csv file (as backup)
# inner_merge_long.to_csv(r'..\data\whr_wdi_inner_merge_long.csv', index=False)
# print('whr_wdi_inner_merge_long.csv has been saved')

# # Save inner merge wide format as csv file
# inner_merge_wide.to_csv(r'..\data\whr_wdi_inner_merge_wide.csv', index=False)
# print('whr_wdi_inner_merge_wide.csv has been saved')

# # Save inner merge wide format with happiness contributors as csv file
# inner_merge_wide_advanced.to_csv(r'..\data\whr_wdi_inner_merge_wide_advanced.csv', index=False)
# print('whr_wdi_inner_merge_wide_advanced.csv has been saved')

whr_wdi_left_merge.csv has been saved
whr_wdi_left_merge_wide.csv has been saved
whr_wdi_left_merge_wide_advanced.csv has been saved

In [ ]:
# # Countries in each dataset for 2024
# whr_2024 = set(whr_df_final.loc[whr_df_final['year'] == 2024, 'country_name'])
# wdi_2024 = set(wdi_country_df_final.loc[wdi_country_df_final['year'] == 2024, 'country_name'])

# # Compare
# missing_in_wdi = whr_2024 - wdi_2024
# missing_in_whr = wdi_2024 - whr_2024

# print("Countries in WHR 2024 but not in WDI 2024:", missing_in_wdi)
# print("Countries in WDI 2024 but not in WHR 2024:", missing_in_whr)